# Data preprocessing

In [4]:
import pandas as pd

In [7]:
df = pd.read_excel('/Users/labess40/dev/projet-patate/back/data/REGIME AG1.xlsx', engine="openpyxl", sheet_name="ALIMENTS LISTE")

In [8]:
df

,ALIMENT,LYS (mg),PROTEINES (g),CALORIES,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ail,363.0,6.0,145.0,NaN,NaN,NaN,NaN,NaN,NaN
2,abricot,69.0,0.9,45.0,NaN,NaN,NaN,NaN,NaN,NaN
3,amande au chocolat,335.0,4.3,168.0,NaN,NaN,NaN,NaN,NaN,NaN
4,amandes,580.0,24.0,611.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
170,yaourt panna cotta saveur U,150.0,1.9,273.0,NaN,NaN,NaN,NaN,NaN,NaN
171,yaourt perle de lait nature,256.0,3.2,115.0,NaN,NaN,NaN,NaN,NaN,NaN
172,yaourt petit suisse,900.0,9.1,136.0,NaN,NaN,NaN,NaN,NaN,NaN
173,yaourt petits filous,328.0,4.1,131.0,NaN,NaN,NaN,NaN,NaN,NaN
174,yaourt viennois nestlé,250.0,3.1,139.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_final = df[df.columns[:4]]
df_final = df_final.dropna(axis=0, how="all")
df_final = df_final.fillna(0)

In [11]:
df_final.columns = ["ALIMENT", "LYS", "PROTEINES", "CALORIES"]

In [20]:
df_final

                         ALIMENT    LYS  PROTEINES  CALORIES
1                            ail  363.0        6.0     145.0
2                        abricot   69.0        0.9      45.0
3             amande au chocolat  335.0        4.3     168.0
4                        amandes  580.0       24.0     611.0
5                         ananas   35.0        0.5      59.0
..                           ...    ...        ...       ...
170  yaourt panna cotta saveur U  150.0        1.9     273.0
171  yaourt perle de lait nature  256.0        3.2     115.0
172          yaourt petit suisse  900.0        9.1     136.0
173         yaourt petits filous  328.0        4.1     131.0
174       yaourt viennois nestlé  250.0        3.1     139.0

[174 rows x 4 columns]

In [14]:
df_final.to_csv('/Users/labess40/dev/projet-patate/back/data/aliments.csv', index=False)

# Intake calcul

In [7]:
from src.aliment import Aliment
from src.configuration import Configuration

Configuration("./data/aliments.csv")

ail = Aliment("ail", 300)
ananas = Aliment("ananas", 300)

In [9]:
ail.proteines

18.0

In [8]:
Aliment._instances

{'ananas': <src.aliment.Aliment at 0x10b463050>,
 'ail': <src.aliment.Aliment at 0x106381090>}

# Menu definition

In [1]:
from back import Menu
from back import Configuration

Configuration("/Users/labess40/dev/projet-patate/back/data/aliments.csv")

food_dict = {"abricot":80, "amandes":100}#, "pignons de pins":100}

menu = Menu(food_dict)
menu.intakes

{'proteines': 24.72, 'lysine': 635.2, 'calories': 647.0}

# Database

In [1]:
from sqlalchemy import create_engine, MetaData

engine = create_engine("postgresql+psycopg2://postgres:postgres@172.21.0.2:5432/foodDB")
conn = engine.connect()
add_data = []

data = conn.execute("SELECT * FROM weekMenus").fetchall()